@media (max-width: 575.98px) {
    .content img{
        width: 70%;
    }
    .content h1{
        font-size: 14px;
    }
    .content p{
        font-size: 11px;
        text-align: center;

    }
    .sec2{
        width: 100%;
        min-height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .word h2{
        font-size: 11px;
    }
    .word p{
        font-size: 10px;
    }
    .div1,.div2,.div3{
        justify-content: space-evenly;

    }
    .sec2 .div1,.sec2 .div2,.sec2 .div3{
        width: 100%;
    }
    .span1{
        height: 100px;
        width: 125px;
    }
    span{
        font-size: 40px;
        }
        .email{
            width: 100%;
            height: 110px;
            flex-direction: column;
            justify-content: space-between;
        }
        .email input{
            width: 100%;
            height: 50px;
        }
        .email button{
            width: 100%;
            height: 50px;
        }
        .overlay2 h2{
            font-size: 12px;
            text-align: center;
        }
        .overlay2 p{
            font-size: 8px;

        }
        .email input::placeholder{
            font-size: 8px;
            text-transform: capitalize;
            color: #fff;
        }



}
@media (min-width: 576px) and (max-width: 767.98px) {
    .content h1{
        font-size: 18px;
    }
    .content p{
        font-size: 14px;
        text-align: center;
    }
    .sec2{
        width: 100%;
        min-height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .word h2{
        font-size: 14px;
    }
    .word p{
        font-size: 12px;
    }
    .div1,.div2,.div3{
        justify-content: space-evenly;

    }
    .sec2 .div1,.sec2 .div2,.sec2 .div3{
        width: 100%;
    }
    .span1{
        height: 120px;
        width: 125px;
    }
    span{
        font-size: 40px;
        }
        .email{
            width: 100%;
            height: 110px;
            flex-direction: column;
            justify-content: space-between;
        }
        .email input{
            width: 100%;
            height: 50px;
        }
        .email button{
            width: 100%;
            height: 50px;
        }
        .overlay2 h2{
            font-size: 18px;
            text-align: center;
        }
        .overlay2 p{
            font-size: 14px;

        }
        .email input::placeholder{
            font-size: 8px;
            text-transform: capitalize;
            color: #fff;
        }

}
@media (min-width: 768px) and (max-width: 991.98px){

    .content h1{
        font-size: 18px;
    }
    .content p{
        font-size: 14px;
        text-align: center;
    }
    .sec2{
        width: 100%;
        min-height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .word h2{
        font-size: 14px;
    }
    .word p{
        font-size: 12px;
    }
    .div1,.div2,.div3{
        justify-content: center;

    }
    .sec2 .div1,.sec2 .div2,.sec2 .div3{
        width: 100%;
    }
    .span1{
        height: 130px;
        width: 130px;
    }
    span{
        font-size: 60px;
        }

        .email{
            width: 100%;
            height: 110px;
            flex-direction: row;
            justify-content: space-between;
        }
        .email input{
            width: 69%;
            height: 50px;
        }
        .email button{
            width: 30%;
            height: 50px;
        }
        .overlay2 h2{
            font-size: 18px;
            text-align: center;
        }
        .overlay2 p{
            font-size: 14px;

        }
        .email input::placeholder{
            font-size: 8px;
            text-transform: capitalize;
            color: #fff;
        }
}